BROWSERBASE_API_KEY=
EXTENSION_ZIP_PATH=./1password.zip
MODEL_API_KEY=
PASS_USERNAME=your_1password_email
PASS_SECRETKEY=
PASS_PASSWORD=
EXTENSION_ID=your_uploaded_extension_id #Output of create_extension.ts
